 * {
   /*background-color: #C53D38;*/
   font-family: Georgia, sans-serif;
   font-weight: bold;
   text-align: center;
   box-sizing: border-box;
 }
.vApp {
  background-color: blue;
}


body, html {
  height: 100%;
}

.mainComponent {
  height: 100%;
  background-color: #C53D38;
}

.routerView {
  background-color: #C53D38;
  height: 100%;
}

body {
  background-color: #C53D38;
}

h1 {
  color: #FCDD5C;
  text-align: center;
}

p {
  line-height: 1.3;
}

.nav {
  background-color: #FCDD5C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileNav {
  display: none;
  background-color: #FCDD5C;
  justify-content: center;
  align-items: center
}
.navItem {
  padding: 1em;
  flex: 1;
}

.logout {
  flex: 1;
}
.logout:hover {
  background-color: #d6bc4f;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black !important;
  font-size: 1.5em;
}

a:visited{
  color: black;
  text-decoration: none;
}

.auth {
  background-image: url('/src/assets/catan.jpg');
  background-position: center;
  backgroun  <h2><d-repeat: no-repeat;
  background-size: cover;
}
label {
  text-align: center;
}

.input {
  width: 50%;
  margin-bottom: 0;
  padding-bottom: 0;
  margin: auto;
  background-color: white;
  border: 4px solid yellow;
}

.validateError {
  width: 50%;
  margin: 1em auto;
  border: 4px solid yellow;
  padding: 1em;
  background-color: white;
  color: red;
}


.modalStyle {
  background-color: white;
  border: 4px solid black;
  text-align: center;
}

.dialog__content__active {
  background-color: rgba(0, 0, 0, 0.5);
}

.playerName {
  background-color:#C53D38;
  color: yellow;
  display: inline-block;
  border: 4px solid black;
  padding: .3em;
  min-height: 50px;
  width: 80%;
}

.redButton {
  background-color: #C53D38 !important;
}

.gameList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 70%;
  margin: auto !important;
}

.gameUser {
  background-color: white;
  border: 4px solid yellow;
  flex: 5;
  min-width: 500px;
}

.score {
  max-width: 100px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoSpan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*border: 2px solid black*/
}

.images {
  flex:1;
  /*border: 2px solid black;*/
  max-height: 50px;
  min-width: 200px;
}

.statsTable {
  width: 40%;
  margin: 2em auto;
  font-size: 40px;
}
.hoverData:hover td{
  cursor: pointer;
  background-color: #c4c9d1;
}

.resultsTable {
  margin: 0 auto !important;
  padding: 0 !important;
  border: 2px solid black;
}

.resultsTable th {
  font-size: 1.5em;
  padding: 0;
}

.resultsTable td {
  font-size: 1.5em;
  padding: 0;
  border: none;
}
th {
  background-color: #FCDD5C;
  border: 2px solid black;
  margin: 0 auto;
  text-align: center;

}

td {
  border: 2px solid black;
  background-color: white;
  margin: 0 auto;
}

.mobileWidth {
  display: none;
}

.about {
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .xsButton {
    min-width: 200px;
  }
  .row{
    max-width: 100%;
    flex-wrap: wrap;
  }
  .gameUser {
    flex:1;
    min-width: 300px;
  }
  .btn {
    /*max-width: 50px;*/
    max-height: 30px;
  }

  .navItem {
    display: none;
  }

  .mobileNavItem {
    display: flex;
    flex:1;
  }

  .input {
    width: 90%;
    margin-bottom: 0;
    padding-bottom: 0;
    margin: auto;
    background-color: white;
    border: 4px solid yellow;
  }
  .fullWidth {
    display: none;
  }

  .mobileWidth {
    display: flex;
    font-weight: bold;
  }
  .mobileNav {
    display: flex;
  }
  .validateError {
    width: 95%;
  }
  th, td {
    font-size: 30px;
  }
}
